<h1 class="header">Restaurants by City</h1>
<div class="padding">
<ul>
  #foreach($city in $cities)
      <li><h3><a href="/cities/$city">$city</a></h3></li>
    <hr>
  #end
</ul>
<a href="/">Go to the homepage</a>
</div>
