<h1 class="header">$cuisine Restaurants</h1>

<div class="padding">
<h3>List of restaurants with this cuisine</h3>
<ul>
  #foreach($restaurant in $restaurants)
    <li><a href="/restaurants/$restaurant.getId()">$restaurant.getName()</a></li>
    <hr>
  #end
</ul>
<a href="/">Go to the homepage</a>
</div>
