<h1 class="header">Restaurants by Cuisine</h1>
<div class="padding">
<ul>
  #foreach($cuisine in $cuisines)
    <li><h3><a href="/cuisines/$cuisine">$cuisine</a></h3></li>
    <hr>
  #end
</ul>
<a href="/">Go to the homepage</a>
</div>
