<h1 class="header">Restaurants by Cuisine</h1>
<ul>
  #foreach($cuisine in $cuisines)
      <li><h3><a href="/cuisines/$cuisine.getCuisine()">$cuisine.getCuisine()</a></h3></li>
    <hr>
  #end
</ul>
