<div class="container">
  <h1 class="header"><center>Restaurants</center></h1>
  <div class="col-md-4">
  </div>

  <div class="col-md-4">

  </div>

  <div class="col-md-4">
  </div>
  <div class="restaurantNew">
    <a href="/restaurants/new">Add a Restaurant</a>
  </div>
</div>
